@media (max-width : 1120px){
    .u-form-submit #inscrever{
      width: 220px;
      height: 90px;
      font-size: 30px;
      margin-left: 48px;  
      margin-top: 8px;
    }
    .u-form-group .u-border-1{
       width: 785px; 
       height: 78px;
       margin-left: 45px;
       margin-top: 8px;
       font-size: 35px;       
    }
    .u-form-group .u-label{
       font-size: 35px;  
       margin-left: 45px;
    }    
    .u-header .tamanho2{
        width: 600px;
        margin-left: 65px;
        margin-top: 50px;
    } 
    .div-texto .u-text-1{
     font-size: 48px;   
    }
    .div-texto .texto-4{
      font-size: 40px;  
    }
    .div-texto .texto-5{
      font-size: 40px;  
    }
    .div-texto .texto-3{
      font-size: 50px;  
    }
    .div-texto .texto-1{
      font-size: 50px;  
    }
    .div-texto .texto-2{
      font-size: 44px;
    }    
    .u-form-group .menu{            
     width: 362px;
     height: 72px;
     font-size: 30px;   
     margin-left: 48px;  
    }  
    ::placeholder{
      font-size: 32px;  
    }
    .u-form-group #cpfStatus{
      margin-left: 45px;
      font-size: 22px;
    }
  }