@media (max-width : 1120px){
    .u-form-submit #inscrever{
      width: 220px;
      height: 90px;
      font-size: 30px;
      margin-left: 48px;  
    }
    .u-form-group .u-border-1{
       width: 785px; 
       height: 78px;
       margin-left: 47px;
       margin-top: 18px;
       font-size: 35px;       
    }
    .u-form-group .u-label{
       font-size: 35px;  
       margin-left: 45px;
    }    
    .u-header .tamanho2{
        width: 600px;
        margin-left: 65px;
        margin-top: 50px;
    } 
    .div-texto .u-text-1{
     font-size: 50px;   
    }
    .u-fonte .fonte{
     font-size: 60px;  
    }
    .u-form-group .menu{            
     width: 362px;
     height: 72px;
     font-size: 30px;   
     margin-left: 48px;  
    }  
    ::placeholder{
      font-size: 32px;  
    }
 
  }